:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
}

.fi-calculator {
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.fi-screen {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.fi-screen span {
  font-size:  14px;
  color: #888;
  margin-right: 1em;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4x;
}

button:hover {
  opacity: 90%;
}

.fi-operators{
  display: flex;
}

.fi-operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.fi-digits{
  display: flex;
  flex-wrap: wrap;
}

.fi-digits button{
  flex: 1 1 33.333333%;
  max-width: 33.333333%;
  background-color: var(--dark);
  font-weight: 700; 
}